@import url("reset.css"); /* Se incorpora las reglas del fichero reset.css */
 
 
 /**** Estilos propios ****/
	 body,html { /* Asignamos alto de referencia a los elementos hijos*/
 		height:100%; 
	 } 

	/* Ajuste de sangrías para listas */ 
	 ul,ol { 
 	 	list-style-position: inside; 
	 } 
	 
	 ul,ol,li { 
 	  	margin-left:0.6em; 
	 } 
	 
	 ul > ul { 
 	 	margin-left:1.25em; 
	 } 
	 ol > ol { 
 	 	margin-left:1.25em; 
	 } 
 
	h1 {
    	font-size: 2em;
    	margin: 0.67em 0;
	}
 
	h2 {
    	font-size: 1.5em;
    	margin: 0.83em 0;
	}
 
	h3 {
    	font-size: 1.17em;
    	margin: 1em 0;
	}
 
	h4 {
    	font-size: 1em;
    	margin: 1.33em 0;
	}
 
	h5 {
    	font-size: 0.83em;
    	margin: 1.67em 0;
	}
 
	h6 {
    	font-size: 0.75em;
    	margin: 2.33em 0;
	}
/****************************/

#principal{
	text-align: center;
}
		

#formulario{
	display:inline-block;
	padding:1.5em;
	padding-top:1.5em;
	margin:0px auto;
	border:1px solid black;
}
	
#formulario div{
  margin-bottom:1em;	
}

.error{
	text-align:center;
	color:red;
}

